build
bin
kernels/build
tags
compile_commands.
debug
.gdb_history
cmake-build-debug
cmake-build-release
venv
*.sql
/compile_commands.old.json
/benchmarks/vgg19/analysis/filter.log
/benchmarks/vgg19/analysis/filter2.log
/analysis/libanalysis.so
/benchmarks/vgg19/analysis/local.log
/benchmarks/vgg19/vgcore.2905
/compile_commands.json
